@charset "UTF-8";
@media (min-width: 1200px) and (max-width: 1299px) {
  .hasbro-segunda-linha {
    margin-top: -200px; }
  #video-home iframe {
    height: 550px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hasbro-segunda-linha {
    margin-top: -50px; }
  #video-home iframe {
    height: 550px; } }

@media (min-width: 768px) and (max-width: 991px) {
  #about {
    padding: 80px  50px; }
    #about p {
      font-size: 22px; }
  #video-home iframe {
    height: 450px; } }

/* mobile all*/
@media (max-width: 767px) {
  html, body {
    font-size: 16px; }
  header {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px; }
    header > div {
      display: block;
      width: 99%;
      float: left; }
    header .logo img {
      width: 80%;
      max-width: 250px; }
    header .menu-topo img {
      max-width: 80%;
      float: right;
      max-width: 40px; }
  #full-banner-home {
    height: 620px; }
  #full-banner-home .texto article {
    width: 100%;
    padding: 0 20px;
    margin-top: 150px; }
    #full-banner-home .texto article h2 {
      font-size: 35px; }
      #full-banner-home .texto article h2 span {
        font-size: 30px; }
    #full-banner-home .texto article p {
      font-size: 16px; }
  #full-banner-home .buttons {
    display: block;
    padding: 20px; }
    #full-banner-home .buttons .col {
      width: 100%;
      display: block;
      float: left; }
  .bloco-estilo-1 .inner {
    width: 100%;
    /*padding-bottom:30px;
		margin-bottom:30px;
    	padding-top:30px;

		.head{
			padding-bottom:30px;
			margin-bottom:30px;
		}*/ } }

/*

@media (min-width: 481px) and (max-width: 767px) {		
	header .menu-topo,
	header .menu-topo .menu-box{
		width:100%;
	}
	header .menu-topo .sanduiche{
		top:-88px;
	}

	header .menu-topo .menu-box{
		top:-90px;
	}

	header .menu-topo .menu-box form input{
		width:180px;
	}

	.u-boxes .u-box{
		width:100%;
	}

	.u-boxes .u-box .title h3{
		font-size:24px;
	}

	.boxes-home{
		padding:30px 0;
	}

	.pagina-home #sobre-a-urban{
		height: auto;
	}

	#sobre-a-urban .texto{
		padding:60px 10px;
		margin-top:0;
	}
	#sobre-a-urban .texto h4{
		font-size:22px;
	}
	#sobre-a-urban .texto p{
		margin-bottom:0;
		font-size:16px;
	}

	.box-clientes .titulo{
		padding:22px 0;
	}

	.box-clientes .carrossel{
		margin-top:0;
		margin-bottom:30px;
	}

	.slick-slide{
		padding: 0 5px;
	}

	.slick-dots{
		margin-top:40px;
	}

	.box-clientes .titulo h3{
		font-size:25px;
	}
	.box-clientes  .slick-dots{
		margin-top:´50px;
	}

	#como-chegar{
		padding-bottom:50px;
		height: auto;
		min-height: auto;
		margin-bottom: auto;
	}

	#como-chegar .container article{
		margin-top:20px;
	}
	#como-chegar .container article h5{
		font-size:20px;
	}
	#como-chegar .container .u-botao{
		margin-top:30px;
	}
	.u-botao a, .u-botao button, .u-botao > span{
		padding:25px;
		font-size:20px;
	}
	#como-chegar .endereco .col{	
		width:100%;
	}

	#como-chegar .endereco .telefone h5{
		font-size:26px;
	}

	footer .sobre{
		padding:0 15px;
	}
	#como-chegar .endereco{
		margin-top:50px;
	}
	#como-chegar .endereco .col{
		width:100%;
	}
	.case .full-banner{
		padding:30px 0;
	}

	.case .full-banner article img{
		max-width:70%;
	}
	.section-title h1, .section-title h2, .section-title h3, .section-title h4, .section-title h5, .section-title h6{
		font-size:20px;
		margin:5px 0 0 0 ;
	}
	.container-reduzido{
		padding:0 60px;
	}
	.subtitulo{
		font-size:20px;
	}
	p{
		font-size:16px;
	}

	
	.u-boxes .u-box{
		overflow:auto;
	}
	.u-boxes .u-box .inner img{
		width:100%;
		height: auto;
	}
	.u-boxes .u-box .title h3 img{
		width: auto;
		max-width:70%
	}
	.u-boxes .u-box .title .case-frase p, .u-boxes .u-box .title .case-frase h1, .u-boxes .u-box .title .case-frase h2, .u-boxes .u-box .title .case-frase h3, .u-boxes .u-box .title .case-frase h4, .u-boxes .u-box .title .case-frase h5, .u-boxes .u-box .title .case-frase h6, .u-boxes .u-box .title .case-frase b, .u-boxes .u-box .title .case-frase span{
		font-size:18px;
	}

	#about{
		padding:60px  20px;
		p{
			font-size:20px;
		}
	}
	.container-clientes .ngg-widget a{
		width:48%;
	}
	.resultado-de-busca{
		padding:30px;
	}

	.resultado-de-busca ul li img{
		margin-bottom:20px;
		
	}

	#video-home{
	  iframe{
	      height: 450px;
	  }
	}

}

*/
@media (max-width: 480px) {
  .u-boxes .u-box {
    width: 100%; }
    .u-boxes .u-box .inner img, .u-boxes .u-box .inner .wp-post-image {
      height: 200px;
      opacity: 0; }
  .box-metade {
    width: 100%; }
  #clientes-home .inner .carrossel > div {
    margin: 0;
    padding: 2%; } }

@media (min-width: 361px) and (max-width: 480px) {
  /*
	.u-boxes .u-box .title h3{
		font-size:24px;
	}

	.boxes-home{
		padding:30px 0;
	}

	.pagina-home #sobre-a-urban{
		height: auto;
	}

	#sobre-a-urban .texto{
		padding:60px 10px;
		margin-top:0;
	}
	#sobre-a-urban .texto h4{
		font-size:22px;
	}
	#sobre-a-urban .texto p{
		margin-bottom:0;
		font-size:16px;
	}

	.box-clientes .titulo{
		padding:22px 0;
	}

	.box-clientes .carrossel{
		margin-top:0;
		margin-bottom:30px;
	}

	.slick-slide{
		padding: 0 5px;
	}

	.slick-dots{
		margin-top:40px;
	}

	.box-clientes .titulo h3{
		font-size:25px;
	}
	.box-clientes  .slick-dots{
		margin-top:´50px;
	}

	#como-chegar{
		padding-bottom:50px;
		height: auto;
		min-height: auto;
		margin-bottom: auto;
	}

	#como-chegar .container article{
		margin-top:20px;
	}
	#como-chegar .container article h5{
		font-size:20px;
	}
	#como-chegar .container .u-botao{
		margin-top:30px;
	}
	.u-botao a, .u-botao button, .u-botao > span{
		padding:25px;
		font-size:20px;
	}
	#como-chegar .endereco .col{	
		width:100%;
	}

	#como-chegar .endereco .telefone h5{
		font-size:26px;
	}

	footer .sobre{
		padding:0 15px;
	}
	#como-chegar .endereco{
		margin-top:50px;
	}
	#como-chegar .endereco .col{
		width:100%;
	}
	.case .full-banner{
		padding:30px 0;
	}

	.case .full-banner article img{
		max-width:70%;
	}
	.section-title h1, .section-title h2, .section-title h3, .section-title h4, .section-title h5, .section-title h6{
		font-size:20px;
		margin:5px 0 0 0 ;
	}
	.container-reduzido{
		padding:0 60px;
	}
	.subtitulo{
		font-size:20px;
	}
	p{
		font-size:16px;
	}



	.u-boxes .u-box{
		overflow:auto;
	}
	.u-boxes .u-box .inner img{
		width:100%;
		height: auto;
	}
	.u-boxes .u-box .title h3 img{
		width: auto;
		max-width:70%
	}
	.u-boxes .u-box .title .case-frase p, .u-boxes .u-box .title .case-frase h1, .u-boxes .u-box .title .case-frase h2, .u-boxes .u-box .title .case-frase h3, .u-boxes .u-box .title .case-frase h4, .u-boxes .u-box .title .case-frase h5, .u-boxes .u-box .title .case-frase h6, .u-boxes .u-box .title .case-frase b, .u-boxes .u-box .title .case-frase span{
		font-size:18px;
	}

	#about{
		padding:60px  20px;
		p{
			font-size:20px;
		}
	}
	.container-clientes .ngg-widget a{
		width:48%;
	}
	
	.single-case .imagem-case-hasbro{
	  margin-top:0;
	}

	.resultado-de-busca{
		padding:20px;
	}

	.resultado-de-busca ul li img{
		margin-bottom:20px;
		
	}

	#video-home{
	  margin-bottom:30px; margin-top:30px;
	  iframe{
	      height: 300px;
	  }
	}
*/ }

/*

@media (max-width: 360px)  {
	header .menu-topo,
	header .menu-topo .menu-box{
		width:100%;
	}
	header .menu-topo .sanduiche{
		top:-88px;
	}

	header .menu-topo .menu-box{
		top:-90px;
	}

	header .menu-topo .menu-box form input{
		width:180px;
	}

	.u-boxes .u-box{
		width:100%;
	}

	.u-boxes .u-box .title h3{
		font-size:24px;
	}

	.boxes-home{
		padding:0;
	}

	.pagina-home #sobre-a-urban{
		height: auto;
	}

	#sobre-a-urban .texto{
		padding:60px 10px;
		margin-top:0;
	}
	#sobre-a-urban .texto h4{
		font-size:22px;
	}
	#sobre-a-urban .texto p{
		margin-bottom:0;
		font-size:16px;
	}

	.box-clientes .titulo{
		padding:22px 0;
	}

	.box-clientes .carrossel{
		margin-top:0;
		margin-bottom:30px;
	}

	.slick-slide{
		padding: 0 5px;
	}

	.slick-dots{
		margin-top:40px;
	}

	.box-clientes .titulo h3{
		font-size:25px;
	}
	.box-clientes  .slick-dots{
		margin-top:´50px;
	}

	#como-chegar{
		padding-bottom:50px;
		height: auto;
		min-height: auto;
		margin-bottom: auto;
	}

	#como-chegar .container article{
		margin-top:20px;
	}
	#como-chegar .container article h5{
		font-size:20px;
	}
	#como-chegar .container .u-botao{
		margin-top:30px;
	}
	.u-botao a, .u-botao button, .u-botao > span{
		padding:25px;
		font-size:20px;
	}
	#como-chegar .endereco .col{	
		width:100%;
	}

	#como-chegar .endereco .telefone h5{
		font-size:26px;
	}

	footer .sobre{
		padding:0 15px;
	}
	#como-chegar .endereco{
		margin-top:50px;
	}
	#como-chegar .endereco .col{
		width:100%;
	}
	.case .full-banner{
		padding:30px 0;
	}

	.case .full-banner article img{
		max-width:70%;
	}
	.section-title h1, .section-title h2, .section-title h3, .section-title h4, .section-title h5, .section-title h6{
		font-size:20px;
		margin:5px 0 0 0 ;
	}
	.container-reduzido{
		padding:0 40px;
	}
	.subtitulo{
		font-size:20px;
	}
	p{
		font-size:16px;
	}


	.u-boxes .u-box{
		overflow:auto;
	}
	.u-boxes .u-box .inner img{
		width:100%;
		height: auto;
	}
	.u-boxes .u-box .title h3 img{
		width: auto;
		max-width:70%
	}
	.u-boxes .u-box .title .case-frase p, .u-boxes .u-box .title .case-frase h1, .u-boxes .u-box .title .case-frase h2, .u-boxes .u-box .title .case-frase h3, .u-boxes .u-box .title .case-frase h4, .u-boxes .u-box .title .case-frase h5, .u-boxes .u-box .title .case-frase h6, .u-boxes .u-box .title .case-frase b, .u-boxes .u-box .title .case-frase span{
		font-size:18px;
	}

	#about{
		padding:60px  20px;
		p{
			font-size:20px;
		}
	}
	.container-clientes .ngg-widget a{
		width:48%;
	}

	.single-case .imagem-case-hasbro{
	  margin-top:0;
	}

	.resultado-de-busca{
		padding:20px;
	}

	.resultado-de-busca ul li img{
		margin-bottom:20px;
		margin-right:0;
		max-width:100%;
	}

	#video-home{
	  margin-bottom:30px; margin-top:30px;
	  iframe{
	      height: 250px;
	  }
	}


	
}






*/
